.header-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active-now {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}

.active-now:hover {
  background-color: white;
}

.active {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover {
  color: var(--accent-color);
}

.decor {
  position: relative;
  top: 30px;
  right: 2px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active:hover .decor {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.header-list-contacts {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > ul {
  color: rgb(20, 255, 235);
  font-family: "Courier New", Courier, monospace;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.client-title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  text-align: center;
}

.client-list {
  list-style: none;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F5F4FA;
}

.client-ico:hover {
  color: #188CE8;
}

.client-item {
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  fill: rgb(175, 177, 184);
}

.client-item:hover {
  fill: var(--accent-color);
}

.web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-decoration: none;
  width: 145px;
  font-weight: 31px;
  margin-top: 7px;
  padding-left: 35px;
  margin-top: 22px;
  margin-right: 93px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.studio {
  color: black;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.studio2 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.efectivity {
  width: 1600;
  height: 600px;
  color: rgb(255, 255, 255);
  /* padding-top: 200px;
  padding-bottom: 280px; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 59, 0.247)), to(rgba(46, 47, 59, 0.247))), url(/img/header.jpg);
  background-image: linear-gradient(to right, rgba(46, 47, 59, 0.247), rgba(46, 47, 59, 0.247)), url(/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--footer-efectivity-substrate-color); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-title {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.button-order {
  font-family: "Roboto";
  background-color: var(--accent-color);
  color: white;
  border: none;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  /* line-height: 30px; */
  /* margin-bottom: 30px; */
  /* letter-spacing: 6%; */
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailto-2 {
  text-decoration: none;
  color: var(--grey-text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 2%;
}

.header-mail {
  margin-right: 10px;
  /* position: relative;
  right: 30px;
  align-items: center; */
  /* justify-content: end; */
  fill: currentColor;
}

.header-tell {
  color: var(--footer-efectivity-substrate-color);
  text-decoration: none;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
}

.header-phone {
  margin-right: 10px;
  fill: #212121;
}

.header-phone:hover {
  fill: #188CE8;
}

.container {
  width: 1170px;
  margin: 0 auto;
  /* outline: rgb(110, 173, 209) 1px solid; */
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 0px;
  gap: 30px;
}

.card-img::before,
.card-img::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card-img::after {
  background-image: url(/img/Antenna.svg);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card-img::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-color: var(--our-command-substrate);
  background-size: 70px;
}

.list-title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.p-description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--grey-text-color);
}

.card-img-clock::before,
.card-img-clock::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card-img-clock::after {
  background-image: url(/img/clock.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card-img-clock::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-color: var(--our-command-substrate);
  background-size: 70px;
}

.card-img-gra::before,
.card-img-gra::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card-img-gra::after {
  background-image: url(/img/computer.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card-img-gra::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-color: var(--our-command-substrate);
  background-size: 70px;
}

.card-img-astro::before,
.card-img-astro::after {
  content: "";
  width: 270px;
  height: 120px;
  background-size: contain;
  border-radius: 4px;
}

.card-img-astro::after {
  background-image: url(/img/cosmonaut.png);
  background-size: 100px;
  background-repeat: no-repeat;
}

.card-img-astro::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-color: var(--our-command-substrate);
  background-size: 70px;
}

.what-we-do {
  color: var(--footer-efectivity-substrate-color);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.what-w-d {
  margin-top: 94px;
  margin-bottom: 50px;
}

.what-we-do-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 0px;
}

.thumb {
  position: relative;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: var(--our-command-substrate);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do-item {
  /* height: 100px; */
  margin: 0px 0px 0px 0px;
  padding: -2px -2px -2px -2px;
  /* outline: 2px solid blue; */
}

.what-we-do-img {
  display: block;
  height: 100%;
}

.p-description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--grey-text-color);
}

.section-our-team {
  background-color: var(--our-command-substrate);
  margin-top: 188px;
  margin-bottom: 50px;
}

.our-team {
  color: var(--footer-efectivity-substrate-color);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team-lisst {
  list-style: none;
  margin-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.our-team-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team-picture-list {
  list-style: none;
  display: block;
}

.name {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-ico-item {
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  border-radius: 50%;
}

.svg-ico-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.so-net-ico {
  width: 20px;
  height: 20px;
  display: block;
  fill: #AFB1B8;
}

.so-net-link {
  color: white;
  fill: currentColor;
  display: block;
  padding: 12px 12px;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.decrip {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  color: var(--grey-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-ico-item:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fo-font {
  font-family: "Roboto", regular;
  font-weight: 14;
  font-style: normal;
  list-style: none;
  width: 241px;
}

.fo-footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.mailto {
  text-decoration: none;
  color: var(--grey-text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}

.tel {
  -webkit-text-decoration: var(--grey-text-color);
          text-decoration: var(--grey-text-color);
  color: var(--grey-text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  list-style: none;
}

.footer-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: center;
}

.fo-so-net-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fo-so-net-item {
  /* margin-left: 0px;
  padding-left: 0px; */
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  width: 44px;
  height: 44px;
}

.fo-so-net-item:hover {
  background-color: var(--accent-color);
}

.fo-so-net-ico {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  top: 2px;
  color: white;
}

.footer-form {
  margin-left: 95px;
}

.footer-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  width: 358px;
  height: 50px;
  padding-left: 15px;
  color: white;
}

.footer-button {
  margin-left: 12px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  color: white;
  border: none;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-button:hover {
  background-color: var(--accent-color-hover);
  -webkit-transform: cubic-bezier(0.4, 0, 0.2, 1);
          transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-img {
  margin-left: 10px;
}

footer {
  background-color: var(--footer-efectivity-substrate-color);
  /* height: 252px; */
  padding-top: 60px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

:root {
  --accent-color-hover: #188CE8;
  --accent-color: #2196F3;
  --grey-text-color: #757575;
  --footer-efectivity-substrate-color: #2F303A;
  --footer-so-net-color: rgba(255, 255, 255, 0.1);
  --our-command-substrate: #F5F4FA;
  --white: #ffff;
  --our-command-substrate-hover: #e9e6e6;
  --efectivity-trans-color: #2e2f3b3f;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 500px;
  min-height: 500px;
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn-close {
  /* box-sizing: border-box; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100%;
  background-color: var(--white);
  /* display: flex;
  justify-content: space-between */
}

.close-img {
  width: 11px;
  height: 11px;
}

.close-img:hover {
  fill: #188CE8;
}

.modal-title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 3%;
  text-align: center;
}

.modal-par {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1%;
  margin-left: 10px;
  text-align: left;
}

.modal-img {
  position: absolute;
  padding: 10px;
  padding-top: 14px;
}

.modal-input {
  width: 448px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 18px;
  padding-left: 30px;
}

.modal-area {
  width: 448px;
  height: 120px;
  margin-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-link {
  color: var(--accent-color);
}

.btn-modal {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  width: 200px;
  height: 50px;
  border-style: none;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.checkbox {
  display: block;
  width: 16px;
  height: 15px;
  position: relative;
  top: 33px;
  margin-right: 7px;
  border: 1.5px solid #212121;
  border-radius: 4px;
}

.terms {
  color: var(--grey-text-color);
  text-decoration: none;
}

.section-buttons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 94px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 94px;
}

.buttons {
  list-style: none;
}

.portfolio-button {
  color: #212121;
  background-color: #F5F4FA;
  border: 0px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #212121;
  background-color: #F5F4FA;
  border: 0px;
}

.portfolio-button:hover {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #ffffff;
}

.spysok-products {
  list-style: none;
  margin-top: 34px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  gap: 27px;
}

.products-punkty {
  -ms-flex-preferred-size: calc((100% - 7400px) / 9);
      flex-basis: calc((100% - 7400px) / 9);
  border: 1px solid rgb(238, 238, 238);
  width: 307;
  height: 404px;
}

.box:hover .hover-text {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.hover-text {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  height: 168px;
}

.card-title {
  font-family: "Roboto", bold;
  font-style: normal;
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
  padding-left: 24px;
}

.card-description {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;
  color: #757575;
  padding-left: 24px;
}

.box {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}/*# sourceMappingURL=main.css.map */