$accentColorHover: #188ce8;
$accentColor: #2196f3;
$greyTextColor: #757575;

$bgHeroFooterColor: #2f303a;
$addressColor: rgba(255, 255, 255, 0.1);
$bgSectionColor: #f5f4fa;
$whiteColor: #ffff;
$ourCommandColorHover: #e9e6e6;
$efectivityColor: #2e2f3b3f;
$socialsBrandColor: #AFB1B8;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
