$accent-color-hover: #188ce8;
$accent-color: #2196f3;
$grey-text-color: #757575;

$footer-efectivity-substrate-color: #2f303a;
$footer-so-net-color: rgba(255, 255, 255, 0.1);
$our-command-substrate: #f5f4fa;
$white: #ffff;
$our-command-substrate-hover: #e9e6e6;
$efectivity-trans-color: #2e2f3b3f;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
