.header {
  padding: 16px 0;

  @media screen and (min-width: $tablet) {
    padding: 26px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }
}

.header-mob-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-list-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: $desktop) {
    gap: 50px;
    margin-left: auto;
    flex-direction: row;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: white;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: fixed;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  @media screen and (min-width: 481px) {
    display: none;
  }
}

.header-item-now {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
  color: var($accent-color);
  text-decoration: none;
  animation: jello-horizontal 0.9s both;
}

.header-item-now:hover {
  background-color: white;
}

.mob-nav-link {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.mob-nav-item {
  padding-bottom: 32px;
}

.mob-nav-list {
  margin-top: 48px;
  margin-left: 40px;
}

.mob-nav-item:hover {
  color: var($accent-color);
}

.decor {
  position: relative;
  top: 30px;
  right: 2px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover .decor {
  transform: translateY(-20px);
}

.mob-contact-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  line-height: 39.84px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: fixed;
  bottom: 194px;
  padding-left: 15px;
}

.mob-header-links {
  display: flex;
  padding-left: 30px;
  position: fixed;
  bottom: 48px;
}

.mob-header-link {
  border-right: 1px solid #21212133;
  padding-right: 10px;
  padding-left: 10px;
  color: #2196f3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.mob-header-links li:last-child .mob-header-link {
  border-right: none;
}

.mob-contact-tel {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: fixed;
  bottom: 134px;
  padding-left: 17px;
}

header > ul {
  color: rgb(20, 255, 235);
  font-family: "Courier New", Courier, monospace;
}
