
.header-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  width: 500px;
  align-items: center;
}

  .header-item-now{
    color: rgb(33, 33, 33);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-decoration: none;
    color: var(--accent-color);
    text-decoration: none;
    animation: jello-horizontal 0.9s both;
  }

  .header-item-now:hover {
    background-color: white;
  }

  .header-item {
    color: rgb(33, 33, 33);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2%;
    text-decoration: none;
    transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  }

  .header-item:hover {
    color: var(--accent-color);
  }

  .decor{
    position: relative;
    top: 30px;
    right: 2px;
    width: 48px;
  height: 4px;
    border-radius: 2px;
  background: rgb(33, 150, 243);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item:hover .decor{
    transform:translateY(-20px) ; 
   }

   .header-list-contacts {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
  }

  header>ul {
    color: rgb(20, 255, 235);
    font-family: 'Courier New', Courier, monospace;
  }

  header {
    display: flex;
    height: 80px;
  }

 

