.section-our-team {
  
    background-color: var(--our-command-substrate);
    margin-top: 188px;
    margin-bottom: 50px;
  
  }

  .our-team {
    color: var(--footer-efectivity-substrate-color);
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  
  }

  .our-team-lisst {
    list-style: none;
    margin-bottom: 94px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .our-team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .our-team-picture-list {
    list-style: none;
    display: block;
  }

  .name {
    color: rgb(33, 33, 33);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 3%;
    display: flex;
    justify-content: center;
  }

  .svg-ico-item{
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    border-radius: 50%;
  } 
  
  .svg-ico-list{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left:0px ;
    justify-content: center;
    margin-bottom: 42px;
    align-items: center;
  }

  .so-net-ico{
   
    width: 20px;
  height: 20px;
  display: block;
  fill: #AFB1B8;
  ;
  }

  .so-net-link{
    color: white;
  fill: currentColor;
    display: block;
    padding: 12px 12px;
    transition-property: background-color, transform;
    transition-duration: 250ms;
  }

  .decrip {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 3%;
    color: var(--grey-text-color);
    display: flex;
    justify-content: center;
}

.svg-ico-item:hover{
    background-color: var(--accent-color);
    border-radius: 50%;
    
    }